* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin-top: 100px;
    background-color: #14120F;
    color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
} 

li {
    text-decoration: none;
    list-style-type: none;
}


/*navbar*/
.navbar {
    border-bottom: 1px solid rgb(86, 84, 84);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #14120F;
    color: #EEEEEE;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar.scrolled {
    background-color: rgb(24, 23, 23); 
}


.web {
    cursor: pointer;
    margin-left: 60px;
    color: #EEEEEE;
    font-weight: 700;
    font-size: larger;
    letter-spacing: 0.5rem;
}

.navbar nav {
    margin-right: 50px;
    display: flex;
}

nav a {
    transition: transform 0.5s ease, color 0.3s ease;
    cursor: pointer;
    padding-right: 20px;
    color: #EEEEEE;
    font-weight: light;
    font-size: small;
}


.navbar a:hover {
    color: #CD7126;
}

/*content*/
.content {
    height: 505px;
    border-bottom: 1px solid rgb(86, 84, 84);
    min-height: 50vh; 
}

.nama h3 {
    line-height: 1.3;
    margin-left: 300px;
    margin-top: 30vh;
    font-weight: 100;
    letter-spacing: 0.5rem;
}

.nama h1 {
    line-height: 1.3;
    letter-spacing: 0.5rem 1rem;
    margin-left: 299px;
}

.nama p {
    margin-top: 10px;
    margin-left: 41vh;
    line-height: 1.3;
    font-weight: lighter;
    font-size: smaller;
}

.resume button {
    cursor: pointer;
    font-weight: bolder;
    color: #EEEEEE;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 0.1rem;
    background-color: #CD7126;
    margin-left: 300px;
    margin-top: 20px;
}

.resume button:hover {
    background-color: #874614;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.5s ease;
}

.foto {
    margin-left: 800px;
    margin-top: -450px;
}

.foto img {
    width: 450px;
    height: 600px;
}
/* end content*/

/*about*/
.about {
    display: flex;
    padding: 70px;
    min-height: calc(50vh - 70px);
    height: 585px;
    border-bottom: 1px solid rgb(86, 84, 84);
}

.personal {
    margin-left: 150px;
    margin-top: 8vh;
}

.personal h2 {
    margin-left: 10vh;
    margin-top: 5vh;
    letter-spacing: 0.3rem;
}

.personal hr {
    margin-left: 10vh;
    margin-top: 1vh;
    width: 60vh;
}

.personal p {
    font-size: small;
    line-height: 1.6;
    width: 60vh;
    margin-left: 10vh;
    margin-top: 10px;
}

.education  {
    margin-top: -50px;
}

.education h3 {
    margin-left: 40vh;
    margin-top: 20vh;
    letter-spacing: 0.3rem;
}

.education hr {
    margin-left: 40vh;
    margin-top: 1vh;
    width: 41vh;
}

.education ul {
    font-size: small;
    line-height: 1.1;
    width: 60vh;
    margin-left: 55vh;
    margin-top: 10px;
}

.education p {
    font-size: small;
    line-height: 1.1;
    width: 60vh;
    margin-left: vh;
    margin-top: 11px;
}

.tahun {
    margin-top: -98px;
    margin-left: 40vh;
}

.diri {
    margin-left: -15vh;
}

.hobi {
    margin-left: 40vh;
    margin-top: 5vh;
}

.hobi h3 {
    letter-spacing: 0.3rem;
}

.hobi hr {
    width: 41vh;
    margin-top: 1vh;
}

.hobi ul {
    font-size: small;
    line-height: 1.1;
    width: 60vh;
    margin-top: 10px; 
}


.pengalaman {
    margin-left: 40vh;
    margin-top: 5vh;
}

.pengalaman h3 {
    letter-spacing: 0.3rem;
}

.pengalaman hr {
    width: 41vh;
    margin-top: 1vh;
}

.pengalaman ul {
    font-size: small;
    line-height: 1;
    width: 60vh;
    margin-top: 10px; 
}

/* end about*/



/*skill*/
.skill {
    display: flex;
    padding: 70px;
    height: 585px;
    min-height: calc(50vh - 70px);
    border-bottom: 1px solid rgb(86, 84, 84);
}

.skill-seluruh {
    margin-left: 150vh;
}

.skill h2 {
    margin-left: -62vh;
    margin-top: 4vh;
    letter-spacing: 0.6rem;
}

.skill h3 {
    margin-left: -75vh;
    letter-spacing: 0.3rem;
}

.skill hr {
    margin-left: -75vh;
    width: 55vh;
    margin-top: 1vh;
}

.self-skill {
    margin-left: -4vh;
    padding-top: 100px;
}

.self-skill ul {
    margin-top: -10px;
    margin-left: -60vh;
    background-color: #CD7126;
    border-radius: 3px;
    width: 28vh;
    height: 5px;
}

.self-skill p {
    line-height: 1;
    margin-left: -75vh;
    margin-top: 9px;
    font-size: smaller;
}

.self-skill li {
    margin-top: -18px;
    margin-left: -38vh;
}

.bahasa-skill {
    margin-left: -30px;
    margin-top: 10vh;
}

.bahasa-skill p {
    line-height: 1;
    margin-left: -75vh;
    margin-top: 9px;
    font-size: smaller;
}

.bahasa-skill ul {
    margin-top: -10px;
    margin-left: -60vh;
    background-color: #CD7126;
    border-radius: 3px;
    width: 28vh;
    height: 5px;
}

.teknik-skill {
    margin-left: -30px;
    margin-top: 10vh;
}

.teknik-skill ul {
    margin-top: 25px;
    margin-left: -60vh;
    background-color: #CD7126;
    border-radius: 3px;
    width: 28vh;
    height: 5px;
}

.teknik-skill p {
    line-height: 1;
    margin-left: -75vh;
    margin-top: 9px;
    font-size: small;
}
/*end skill*/

/*contact*/
.contact {
    display: flex;
    padding: 70px;
    min-height: calc(50vh - 70px);
    height: 585px;
    border-bottom: 1px solid rgb(86, 84, 84);
}

.contact h2 {
    margin-left: 85vh;
    margin-top: 4vh;
    letter-spacing: 0.6rem;
}

.contact h3 {
    margin-left: -22vh;
    margin-top: 10vh;
    letter-spacing: 0.2rem;
    font-weight: lighter;
}


.icon {
    color: #EEEEEE;
    margin-left: 10px;
}

.icon i {
    margin-top: 14vh;
    font-size: larger;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon i:hover {
    transform: scale(1.2) ;
}

  
.form {
    margin-left: -64vh;
    margin-top: 20vh;
    margin-bottom: 1px;
}

.form input,
.form textarea {
    margin-bottom: 20px;
    resize: none;
    width: 100vh;
    padding: 0.75rem 1.3rem;
    border: 1px solid #EEEEEE;
    background-color: #14120F;
    border-radius: 2px;
    outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #EEEEEE;           
}

input[type="text"],
textarea {
    color: #EEEEEE;
}

.btn-send {
    width: 106vh;
    color: #EEEEEE;
}

button {
    background-color: #CD7126;
    height: 50px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #874614;
}

/*end contact*/

/*footer*/
.footer {
    display: flex;
    padding: 70px;
    height: 100px;
    background-color: rgb(24, 23, 23);
}

.footer h4 {
    cursor: pointer;
    margin-left: 84vh;
    margin-top: -15px;
    color: #EEEEEE;
    font-weight: 700;
    font-size: larger;
    letter-spacing: 0.5rem;
}

.footer p {
    cursor: pointer;
    margin-top: 30px;
    margin-left: -24vh;
    letter-spacing: 0.3rem;
}

.icon-footer {
    margin-left: -164px;
    margin-top: 9vh;
}

.icon-footer i{
    font-size: larger;
    color: #EEEEEE;
    margin-left: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon-footer i:hover {
    transform: scale(1.2) ;
}

.footer h5 {
    margin-top:18vh;
    margin-left: -168px;
    font-weight: lighter;
}
/*end footer*/